.container {
    width: 160px;
    height: auto;
}
.water {
    display: inline-block;
    position: relative;
    padding: 0px;
    border: 0px;
}
.boat {
   display: inline-block;
   position: relative;
   padding: 0px;
   border: 0px;
}